{% extends 'base.html.twig' %}

{% block title %}Ajouter un MicroPost{% endblock %}

{% block body %}
    <h1>Ajouter un MicroPost</h1>
    <hr>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}

{% endblock %}