{% extends 'base.html.twig' %}

{% block title %}New Post01{% endblock %}

{% block body %}
    <h1>Create new Post01</h1>

    {{ include('post01/_form.html.twig') }}

    <a href="{{ path('post01_index') }}">back to list</a>
{% endblock %}
