<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Ajouter une catégorie</title>
</head>

<body>
{{ form_start(form, {'attr': {'noevalidate': 'novalidate'}}) }}

{{ form_widget(form) }}

<button type="submit">Valider</button>

{{ form_end(form) }}
</body>
</html>